
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Vaidya~bot</title>

  <style>
  
      body {
      background-image: url('static/images/doctor1.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      
    }

    h1   {color:rgb(0, 0, 0);}  /* CSS code for heading h1 */
    p   {color: yellow;}  /* CSS code for heading h1 */
    
    /* CSS code for button */
    .button_css {
    color: #000000 !important;
    width: 25%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;  
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #000000 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }
    
    .button_css:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
    }
    
    
    input[type=number] {
    width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;  
}
    
    
    .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  
  /* unvisited link */ 
  a:link { color: White; } 
  /* visited link */ 
  a:visited { color: rgb(0, 0, 0); }
}  
header h1 {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 10px 0;
  font-size: 3em;
  border-color: rgba(63, 173, 168, 0.5);
  border-top: 8px double;
  border-right: 5px dashed;
  border-left: 5px dashed;
  border-bottom: 8px double;

 

  border-radius: 5%;
}

 

header p {
  text-align: right;
  width: 90%;
} 
  </style>

</head>

<body >

 <header>
    <h1  >Vaidya~bot</h1>
    <p class='tagline'></p>
    
  </header>
  <br><br><br>
 <div class="login">
	
    <!-- Form Get input to predict Marks-->
    <center>
    <form action="{{ url_for('predict')}}"method="post">
       
        
       <select name="s1" required="required" style ="width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; "   >
    <option value="no" >Enter Symptom</option>
    <option value="abdominal_pain" >Abdominal Pain</option>
    <option value="abnormal_menstruation" >Abnormal Menstruation</option>
    <option value="acidity" >Acidity</option>
    <option value="acute_liver_failure" >Acute Liver Failure</option>
    <option value="altered_sensorium" >Altered Sensorium</option>
    <option value="anxiety" >Anxiety</option>
    <option value="back_pain" >Back Pain</option>
    <option value="belly_pain" >Belly Pain</option>
    <option value="blackheads" >BlackHeads</option>
    <option value="bladder_discomfort" >Bladder Discomfort</option>
    <option value="blister" >Blister</option>
    <option value="blood_in_sputum" >Blood In Sputum</option>
    <option value="bloody_stool" >Bloody Stool</option>
    <option value="blurred_and_distorted_vision" >Blurred and Distorted Vision</option>
    <option value="breathlessness" >Brethlessness</option>
    <option value="brittle_nails" >Brittle Nails</option>
    <option value="bruising" >Bruising</option>
    <option value="burning_micturition" >Burning Micturition</option>
    <option value="chest_pain" >Chest Pain</option>
    <option value="chills" >Chills</option>
    <option value="cold_hands_and_feets" >Cold Hands And Feet</option>
    <option value="coma" >Coma</option>
    <option value="congestion" >Congestion</option>
    <option value="constipation" >Constipation</option>
    <option value="continuous_feel_of_urine" >Continuous Feel Of Urine</option>
    <option value="continuous_sneezing" >Continuous Sneezing</option>
    <option value="cough" >Cough</option>
    <option value="cramps" >Cramps</option>
    <option value="dark_urine" >Dark Urine</option>
    <option value="dehydration" >Dehydration</option>
    <option value="depression" >Depresssion</option>
    <option value="diarrhoea" >Diarrhoea</option>
    <option value="dischromic _patches" >Dischromic Patches</option>
    <option value="distention_of_abdomen" >Distension of Abdomen</option>
    <option value="dizziness" >Dizziness</option>
    <option value="drying_and_tingling_lips" >Drying And Tingling Lips</option>
    <option value="enlarged_thyroid" >Enlarged Thyroid</option>
    <option value="excessive_hunger" >Excessive Hunger</option>
    <option value="extra_marital_contacts" >Extra Marital Contacts</option>
    <option value="family_history" >Family History</option>
    <option value="fast_heart_rate" >Fast Heart Rate</option>
    <option value="fatigue" >Fatigue</option>
    <option value="fluid_overload" >Fluid Overload</option>
    <option value="foul_smell_of urine" >Foul Smell Of Urine</option>
    <option value="headache" >Headache</option>
    <option value="high_fever'" >High Fever</option>
    <option value="hip_joint_pain" >Hip Joint Pain</option>
    <option value="history_of_alcohol_consumption" >History of Alcohol consumption</option>
    <option value="increased_appetite" >Increased Appetite</option>
    <option value="indigestion" >Indigestion</option>
    <option value="inflammatory_nails" >Inflammatory Nails</option>
    <option value="internal_itching" >Internal Itching</option>
    <option value="irregular_sugar_level" >Irregular Sugar Level</option>
    <option value="irritability" >Irritability</option>
    <option value="irritation_in_anus" >Irritation in Anus</option>
    <option value="itching" >Itching</option>
    <option value="joint_pain" >Joint Pain</option>
    <option value="knee_pain" >Knee Pain</option>
    <option value="lack_of_concentration" >Lack of Concentration</option>
    <option value="lethargy" >Lethargy</option>
    <option value="loss_of_appetite" >Loss of Appetite</option>
    <option value="loss_of_balance" >Loss of Balance</option>
    <option value="loss_of_smell" >Loss of smell</option>
    <option value="malaise" >Malaise</option>
    <option value="mild_fever" >Mild Fever</option>
    <option value="mood_swings" >Mood Swings</option>
    <option value="movement_stiffness" >Movement Stiffness</option>
    <option value="mucoid_sputum" >Mucoid Sputum</option>
    <option value="muscle_pain" >Muscle Pain</option>
    <option value="muscle_wasting" >Muscle Wasting</option>
    <option value="muscle_weakness" >Muscle Weakness</option>
    <option value="nausea" >nausea</option>
    <option value="neck_pain" >Neck Pain</option>
    <option value="nodal_skin_eruptions" >Nodal Skin Eruptions</option>
    <option value="obesity" >Obesity</option>
    <option value="pain_behind_the_eyes" >Pain Behind the Eyes</option>
    <option value="pain_during_bowel_movements" >Pain During Bowel Movements</option>
    <option value="pain_in_anal_region" >Pain in Anal Region</option>
    <option value="painful_walking" >Painful Walking</option>
    <option value="palpitations" >Palpitations</option>
    <option value="passage_of_gases" >Passage of Gases</option>
    <option value="patches_in_throat" >Patches in Throat</option>
    <option value="phlegm" >Phlegm</option>
    <option value="polyuria" >Polyuria</option>
    <option value="prominent_veins_on_calf" >Prominent Veins on Calf</option>
    <option value="puffy_face_and_eyes" >Puffy Face and Eyes</option>
    <option value="pus_filled_pimples" >Pus Filled Pimples</option>
    <option value="receiving_blood_transfusion" >Receiving Blood Transfusion</option>
    <option value="receiving_unsterile_injections" >Receiving Unsertile Injections</option>
    <option value="red_sore_around_nose" >Red Sore Around Nose</option>
    <option value="red_spots_over_body" >Red Spots Over Body</option>
    <option value="redness_of_eyes" >Redness of Eyes</option>
    <option value="restlessness" >restlessness</option>
    
    <option value="runny_nose" >Runny Nose</option>
    <option value="rusty_sputum" >Rusty Sputum</option>
    <option value="scurring" >Scurring</option>
    <option value="shivering" >Shivering</option>
    <option value="silver_like_dusting" >Silver Like Dusting</option>
    <option value="sinus_pressure" >Sinus Preessure</option>
    <option value="skin_peeling" >Skin Peeling</option>
    <option value="skin_rash" >Skin Rash</option>
    <option value="slurred_speech" >Slurred Speech</option>
    <option value="small_dents_in_nails" >Small Dents In Nails</option>
    <option value="spinning_movements" >Spinning Movements</option>
    <option value="spotting_ urination" >Spotting Urination</option>
    <option value="stiff_neck" >Stiff Neck</option>
    <option value="stomach_bleeding" >Stomach Bleeding</option>
    <option value="stomach_pain" >Stomach Pain</option>
    <option value="sunken_eyes" >Sunken Eyes</option>
    <option value="sweating" >Sweating</option>
    <option value="swelled_lymph_nodes" >Swelled Lymph Nodes</option>
    <option value="swelling_joints" >Swelling Joints</option>
    <option value="swelling_of_stomach" >Swelling of Stomach</option>
    <option value="swollen_blood_vessels" >Swollen Blood Vessels</option>
    <option value="swollen_extremeties" >Swollen Extremeties</option>
    <option value="swollen_legs" >Swollen Legs</option>
    
    <option value="throat_irritation" >Throat Irritation</option>
    <option value="toxic_look_(typhos)" >Toxic Look Typhos</option>
    <option value="ulcers_on_tongue" >Ulcers on Tongue</option>
    <option value="unsteadiness" >Unsteadiness</option>
    <option value="visual_disturbances" >Visual Disturbances</option>
    <option value="vomiting" >Vomiting</option>
    <option value="watering_from_eyes" >Watering from eyes</option>
    <option value="weakness_in_limbs" >Weakness in Limbs</option>
    <option value="weakness_of_one_body_side" >Weakness of one body side</option>
    <option value="weight_gain" >Weight Gain</option>
    <option value="weight_loss" >Weight Loss</option>
    <option value="yellow_crust_ooze" >Yellow Crust ooze</option>
    <option value="yellow_urine" >Yellow Urine</option>
    <option value="yellowing_of_eyes" >Yellowing of Eyes</option>
    <option value="yellowish_skin" >Yellowish Skin</option>
  
</select>
<select name="s2" required="required" style ="width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; "  >
   <option value="no" >Enter Symptom</option>
    <option value="abdominal_pain" >Abdominal Pain</option>
    <option value="abnormal_menstruation" >Abnormal Menstruation</option>
    <option value="acidity" >Acidity</option>
    <option value="acute_liver_failure" >Acute Liver Failure</option>
    <option value="altered_sensorium" >Altered Sensorium</option>
    <option value="anxiety" >Anxiety</option>
    <option value="back_pain" >Back Pain</option>
    <option value="belly_pain" >Belly Pain</option>
    <option value="blackheads" >BlackHeads</option>
    <option value="bladder_discomfort" >Bladder Discomfort</option>
    <option value="blister" >Blister</option>
    <option value="blood_in_sputum" >Blood In Sputum</option>
    <option value="bloody_stool" >Bloody Stool</option>
    <option value="blurred_and_distorted_vision" >Blurred and Distorted Vision</option>
    <option value="breathlessness" >Brethlessness</option>
    <option value="brittle_nails" >Brittle Nails</option>
    <option value="bruising" >Bruising</option>
    <option value="burning_micturition" >Burning Micturition</option>
    <option value="chest_pain" >Chest Pain</option>
    <option value="chills" >Chills</option>
    <option value="cold_hands_and_feets" >Cold Hands And Feet</option>
    <option value="coma" >Coma</option>
    <option value="congestion" >Congestion</option>
    <option value="constipation" >Constipation</option>
    <option value="continuous_feel_of_urine" >Continuous Feel Of Urine</option>
    <option value="continuous_sneezing" >Continuous Sneezing</option>
    <option value="cough" >Cough</option>
    <option value="cramps" >Cramps</option>
    <option value="dark_urine" >Dark Urine</option>
    <option value="dehydration" >Dehydration</option>
    <option value="depression" >Depresssion</option>
    <option value="diarrhoea" >Diarrhoea</option>
    <option value="dischromic _patches" >Dischromic Patches</option>
    <option value="distention_of_abdomen" >Distension of Abdomen</option>
    <option value="dizziness" >Dizziness</option>
    <option value="drying_and_tingling_lips" >Drying And Tingling Lips</option>
    <option value="enlarged_thyroid" >Enlarged Thyroid</option>
    <option value="excessive_hunger" >Excessive Hunger</option>
    <option value="extra_marital_contacts" >Extra Marital Contacts</option>
    <option value="family_history" >Family History</option>
    <option value="fast_heart_rate" >Fast Heart Rate</option>
    <option value="fatigue" >Fatigue</option>
    <option value="fluid_overload" >Fluid Overload</option>
    <option value="foul_smell_of urine" >Foul Smell Of Urine</option>
    <option value="headache" >Headache</option>
    <option value="high_fever'" >High Fever</option>
    <option value="hip_joint_pain" >Hip Joint Pain</option>
    <option value="history_of_alcohol_consumption" >History of Alcohol consumption</option>
    <option value="increased_appetite" >Increased Appetite</option>
    <option value="indigestion" >Indigestion</option>
    <option value="inflammatory_nails" >Inflammatory Nails</option>
    <option value="internal_itching" >Internal Itching</option>
    <option value="irregular_sugar_level" >Irregular Sugar Level</option>
    <option value="irritability" >Irritability</option>
    <option value="irritation_in_anus" >Irritation in Anus</option>
    <option value="itching" >Itching</option>
    <option value="joint_pain" >Joint Pain</option>
    <option value="knee_pain" >Knee Pain</option>
    <option value="lack_of_concentration" >Lack of Concentration</option>
    <option value="lethargy" >Lethargy</option>
    <option value="loss_of_appetite" >Loss of Appetite</option>
    <option value="loss_of_balance" >Loss of Balance</option>
    <option value="loss_of_smell" >Loss of smell</option>
    <option value="malaise" >Malaise</option>
    <option value="mild_fever" >Mild Fever</option>
    <option value="mood_swings" >Mood Swings</option>
    <option value="movement_stiffness" >Movement Stiffness</option>
    <option value="mucoid_sputum" >Mucoid Sputum</option>
    <option value="muscle_pain" >Muscle Pain</option>
    <option value="muscle_wasting" >Muscle Wasting</option>
    <option value="muscle_weakness" >Muscle Weakness</option>
    <option value="nausea" >nausea</option>
    <option value="neck_pain" >Neck Pain</option>
    <option value="nodal_skin_eruptions" >Nodal Skin Eruptions</option>
    <option value="obesity" >Obesity</option>
    <option value="pain_behind_the_eyes" >Pain Behind the Eyes</option>
    <option value="pain_during_bowel_movements" >Pain During Bowel Movements</option>
    <option value="pain_in_anal_region" >Pain in Anal Region</option>
    <option value="painful_walking" >Painful Walking</option>
    <option value="palpitations" >Palpitations</option>
    <option value="passage_of_gases" >Passage of Gases</option>
    <option value="patches_in_throat" >Patches in Throat</option>
    <option value="phlegm" >Phlegm</option>
    <option value="polyuria" >Polyuria</option>
    <option value="prominent_veins_on_calf" >Prominent Veins on Calf</option>
    <option value="puffy_face_and_eyes" >Puffy Face and Eyes</option>
    <option value="pus_filled_pimples" >Pus Filled Pimples</option>
    <option value="receiving_blood_transfusion" >Receiving Blood Transfusion</option>
    <option value="receiving_unsterile_injections" >Receiving Unsertile Injections</option>
    <option value="red_sore_around_nose" >Red Sore Around Nose</option>
    <option value="red_spots_over_body" >Red Spots Over Body</option>
    <option value="redness_of_eyes" >Redness of Eyes</option>
    <option value="restlessness" >restlessness</option>
    
    <option value="runny_nose" >Runny Nose</option>
    <option value="rusty_sputum" >Rusty Sputum</option>
    <option value="scurring" >Scurring</option>
    <option value="shivering" >Shivering</option>
    <option value="silver_like_dusting" >Silver Like Dusting</option>
    <option value="sinus_pressure" >Sinus Preessure</option>
    <option value="skin_peeling" >Skin Peeling</option>
    <option value="skin_rash" >Skin Rash</option>
    <option value="slurred_speech" >Slurred Speech</option>
    <option value="small_dents_in_nails" >Small Dents In Nails</option>
    <option value="spinning_movements" >Spinning Movements</option>
    <option value="spotting_ urination" >Spotting Urination</option>
    <option value="stiff_neck" >Stiff Neck</option>
    <option value="stomach_bleeding" >Stomach Bleeding</option>
    <option value="stomach_pain" >Stomach Pain</option>
    <option value="sunken_eyes" >Sunken Eyes</option>
    <option value="sweating" >Sweating</option>
    <option value="swelled_lymph_nodes" >Swelled Lymph Nodes</option>
    <option value="swelling_joints" >Swelling Joints</option>
    <option value="swelling_of_stomach" >Swelling of Stomach</option>
    <option value="swollen_blood_vessels" >Swollen Blood Vessels</option>
    <option value="swollen_extremeties" >Swollen Extremeties</option>
    <option value="swollen_legs" >Swollen Legs</option>
    
    <option value="throat_irritation" >Throat Irritation</option>
    <option value="toxic_look_(typhos)" >Toxic Look Typhos</option>
    <option value="ulcers_on_tongue" >Ulcers on Tongue</option>
    <option value="unsteadiness" >Unsteadiness</option>
    <option value="visual_disturbances" >Visual Disturbances</option>
    <option value="vomiting" >Vomiting</option>
    <option value="watering_from_eyes" >Watering from eyes</option>
    <option value="weakness_in_limbs" >Weakness in Limbs</option>
    <option value="weakness_of_one_body_side" >Weakness of one body side</option>
    <option value="weight_gain" >Weight Gain</option>
    <option value="weight_loss" >Weight Loss</option>
    <option value="yellow_crust_ooze" >Yellow Crust ooze</option>
    <option value="yellow_urine" >Yellow Urine</option>
    <option value="yellowing_of_eyes" >Yellowing of Eyes</option>
    <option value="yellowish_skin" >Yellowish Skin</option>
  
</select>
        <select name="s3" required="required"  style ="width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; "  >
   <option value="no" >Enter Symptom</option>
    <option value="abdominal_pain" >Abdominal Pain</option>
    <option value="abnormal_menstruation" >Abnormal Menstruation</option>
    <option value="acidity" >Acidity</option>
    <option value="acute_liver_failure" >Acute Liver Failure</option>
    <option value="altered_sensorium" >Altered Sensorium</option>
    <option value="anxiety" >Anxiety</option>
    <option value="back_pain" >Back Pain</option>
    <option value="belly_pain" >Belly Pain</option>
    <option value="blackheads" >BlackHeads</option>
    <option value="bladder_discomfort" >Bladder Discomfort</option>
    <option value="blister" >Blister</option>
    <option value="blood_in_sputum" >Blood In Sputum</option>
    <option value="bloody_stool" >Bloody Stool</option>
    <option value="blurred_and_distorted_vision" >Blurred and Distorted Vision</option>
    <option value="breathlessness" >Brethlessness</option>
    <option value="brittle_nails" >Brittle Nails</option>
    <option value="bruising" >Bruising</option>
    <option value="burning_micturition" >Burning Micturition</option>
    <option value="chest_pain" >Chest Pain</option>
    <option value="chills" >Chills</option>
    <option value="cold_hands_and_feets" >Cold Hands And Feet</option>
    <option value="coma" >Coma</option>
    <option value="congestion" >Congestion</option>
    <option value="constipation" >Constipation</option>
    <option value="continuous_feel_of_urine" >Continuous Feel Of Urine</option>
    <option value="continuous_sneezing" >Continuous Sneezing</option>
    <option value="cough" >Cough</option>
    <option value="cramps" >Cramps</option>
    <option value="dark_urine" >Dark Urine</option>
    <option value="dehydration" >Dehydration</option>
    <option value="depression" >Depresssion</option>
    <option value="diarrhoea" >Diarrhoea</option>
    <option value="dischromic _patches" >Dischromic Patches</option>
    <option value="distention_of_abdomen" >Distension of Abdomen</option>
    <option value="dizziness" >Dizziness</option>
    <option value="drying_and_tingling_lips" >Drying And Tingling Lips</option>
    <option value="enlarged_thyroid" >Enlarged Thyroid</option>
    <option value="excessive_hunger" >Excessive Hunger</option>
    <option value="extra_marital_contacts" >Extra Marital Contacts</option>
    <option value="family_history" >Family History</option>
    <option value="fast_heart_rate" >Fast Heart Rate</option>
    <option value="fatigue" >Fatigue</option>
    <option value="fluid_overload" >Fluid Overload</option>
    <option value="foul_smell_of urine" >Foul Smell Of Urine</option>
    <option value="headache" >Headache</option>
    <option value="high_fever'" >High Fever</option>
    <option value="hip_joint_pain" >Hip Joint Pain</option>
    <option value="history_of_alcohol_consumption" >History of Alcohol consumption</option>
    <option value="increased_appetite" >Increased Appetite</option>
    <option value="indigestion" >Indigestion</option>
    <option value="inflammatory_nails" >Inflammatory Nails</option>
    <option value="internal_itching" >Internal Itching</option>
    <option value="irregular_sugar_level" >Irregular Sugar Level</option>
    <option value="irritability" >Irritability</option>
    <option value="irritation_in_anus" >Irritation in Anus</option>
    <option value="itching" >Itching</option>
    <option value="joint_pain" >Joint Pain</option>
    <option value="knee_pain" >Knee Pain</option>
    <option value="lack_of_concentration" >Lack of Concentration</option>
    <option value="lethargy" >Lethargy</option>
    <option value="loss_of_appetite" >Loss of Appetite</option>
    <option value="loss_of_balance" >Loss of Balance</option>
    <option value="loss_of_smell" >Loss of smell</option>
    <option value="malaise" >Malaise</option>
    <option value="mild_fever" >Mild Fever</option>
    <option value="mood_swings" >Mood Swings</option>
    <option value="movement_stiffness" >Movement Stiffness</option>
    <option value="mucoid_sputum" >Mucoid Sputum</option>
    <option value="muscle_pain" >Muscle Pain</option>
    <option value="muscle_wasting" >Muscle Wasting</option>
    <option value="muscle_weakness" >Muscle Weakness</option>
    <option value="nausea" >nausea</option>
    <option value="neck_pain" >Neck Pain</option>
    <option value="nodal_skin_eruptions" >Nodal Skin Eruptions</option>
    <option value="obesity" >Obesity</option>
    <option value="pain_behind_the_eyes" >Pain Behind the Eyes</option>
    <option value="pain_during_bowel_movements" >Pain During Bowel Movements</option>
    <option value="pain_in_anal_region" >Pain in Anal Region</option>
    <option value="painful_walking" >Painful Walking</option>
    <option value="palpitations" >Palpitations</option>
    <option value="passage_of_gases" >Passage of Gases</option>
    <option value="patches_in_throat" >Patches in Throat</option>
    <option value="phlegm" >Phlegm</option>
    <option value="polyuria" >Polyuria</option>
    <option value="prominent_veins_on_calf" >Prominent Veins on Calf</option>
    <option value="puffy_face_and_eyes" >Puffy Face and Eyes</option>
    <option value="pus_filled_pimples" >Pus Filled Pimples</option>
    <option value="receiving_blood_transfusion" >Receiving Blood Transfusion</option>
    <option value="receiving_unsterile_injections" >Receiving Unsertile Injections</option>
    <option value="red_sore_around_nose" >Red Sore Around Nose</option>
    <option value="red_spots_over_body" >Red Spots Over Body</option>
    <option value="redness_of_eyes" >Redness of Eyes</option>
    <option value="restlessness" >restlessness</option>
    
    <option value="runny_nose" >Runny Nose</option>
    <option value="rusty_sputum" >Rusty Sputum</option>
    <option value="scurring" >Scurring</option>
    <option value="shivering" >Shivering</option>
    <option value="silver_like_dusting" >Silver Like Dusting</option>
    <option value="sinus_pressure" >Sinus Preessure</option>
    <option value="skin_peeling" >Skin Peeling</option>
    <option value="skin_rash" >Skin Rash</option>
    <option value="slurred_speech" >Slurred Speech</option>
    <option value="small_dents_in_nails" >Small Dents In Nails</option>
    <option value="spinning_movements" >Spinning Movements</option>
    <option value="spotting_ urination" >Spotting Urination</option>
    <option value="stiff_neck" >Stiff Neck</option>
    <option value="stomach_bleeding" >Stomach Bleeding</option>
    <option value="stomach_pain" >Stomach Pain</option>
    <option value="sunken_eyes" >Sunken Eyes</option>
    <option value="sweating" >Sweating</option>
    <option value="swelled_lymph_nodes" >Swelled Lymph Nodes</option>
    <option value="swelling_joints" >Swelling Joints</option>
    <option value="swelling_of_stomach" >Swelling of Stomach</option>
    <option value="swollen_blood_vessels" >Swollen Blood Vessels</option>
    <option value="swollen_extremeties" >Swollen Extremeties</option>
    <option value="swollen_legs" >Swollen Legs</option>
    
    <option value="throat_irritation" >Throat Irritation</option>
    <option value="toxic_look_(typhos)" >Toxic Look Typhos</option>
    <option value="ulcers_on_tongue" >Ulcers on Tongue</option>
    <option value="unsteadiness" >Unsteadiness</option>
    <option value="visual_disturbances" >Visual Disturbances</option>
    <option value="vomiting" >Vomiting</option>
    <option value="watering_from_eyes" >Watering from eyes</option>
    <option value="weakness_in_limbs" >Weakness in Limbs</option>
    <option value="weakness_of_one_body_side" >Weakness of one body side</option>
    <option value="weight_gain" >Weight Gain</option>
    <option value="weight_loss" >Weight Loss</option>
    <option value="yellow_crust_ooze" >Yellow Crust ooze</option>
    <option value="yellow_urine" >Yellow Urine</option>
    <option value="yellowing_of_eyes" >Yellowing of Eyes</option>
    <option value="yellowish_skin" >Yellowish Skin</option>
  </select>
        <select name="s4" required="required"  style ="width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; "  >
   <option value="no" >Enter Symptom</option>
    <option value="abdominal_pain" >Abdominal Pain</option>
    <option value="abnormal_menstruation" >Abnormal Menstruation</option>
    <option value="acidity" >Acidity</option>
    <option value="acute_liver_failure" >Acute Liver Failure</option>
    <option value="altered_sensorium" >Altered Sensorium</option>
    <option value="anxiety" >Anxiety</option>
    <option value="back_pain" >Back Pain</option>
    <option value="belly_pain" >Belly Pain</option>
    <option value="blackheads" >BlackHeads</option>
    <option value="bladder_discomfort" >Bladder Discomfort</option>
    <option value="blister" >Blister</option>
    <option value="blood_in_sputum" >Blood In Sputum</option>
    <option value="bloody_stool" >Bloody Stool</option>
    <option value="blurred_and_distorted_vision" >Blurred and Distorted Vision</option>
    <option value="breathlessness" >Brethlessness</option>
    <option value="brittle_nails" >Brittle Nails</option>
    <option value="bruising" >Bruising</option>
    <option value="burning_micturition" >Burning Micturition</option>
    <option value="chest_pain" >Chest Pain</option>
    <option value="chills" >Chills</option>
    <option value="cold_hands_and_feets" >Cold Hands And Feet</option>
    <option value="coma" >Coma</option>
    <option value="congestion" >Congestion</option>
    <option value="constipation" >Constipation</option>
    <option value="continuous_feel_of_urine" >Continuous Feel Of Urine</option>
    <option value="continuous_sneezing" >Continuous Sneezing</option>
    <option value="cough" >Cough</option>
    <option value="cramps" >Cramps</option>
    <option value="dark_urine" >Dark Urine</option>
    <option value="dehydration" >Dehydration</option>
    <option value="depression" >Depresssion</option>
    <option value="diarrhoea" >Diarrhoea</option>
    <option value="dischromic _patches" >Dischromic Patches</option>
    <option value="distention_of_abdomen" >Distension of Abdomen</option>
    <option value="dizziness" >Dizziness</option>
    <option value="drying_and_tingling_lips" >Drying And Tingling Lips</option>
    <option value="enlarged_thyroid" >Enlarged Thyroid</option>
    <option value="excessive_hunger" >Excessive Hunger</option>
    <option value="extra_marital_contacts" >Extra Marital Contacts</option>
    <option value="family_history" >Family History</option>
    <option value="fast_heart_rate" >Fast Heart Rate</option>
    <option value="fatigue" >Fatigue</option>
    <option value="fluid_overload" >Fluid Overload</option>
    <option value="foul_smell_of urine" >Foul Smell Of Urine</option>
    <option value="headache" >Headache</option>
    <option value="high_fever'" >High Fever</option>
    <option value="hip_joint_pain" >Hip Joint Pain</option>
    <option value="history_of_alcohol_consumption" >History of Alcohol consumption</option>
    <option value="increased_appetite" >Increased Appetite</option>
    <option value="indigestion" >Indigestion</option>
    <option value="inflammatory_nails" >Inflammatory Nails</option>
    <option value="internal_itching" >Internal Itching</option>
    <option value="irregular_sugar_level" >Irregular Sugar Level</option>
    <option value="irritability" >Irritability</option>
    <option value="irritation_in_anus" >Irritation in Anus</option>
    <option value="itching" >Itching</option>
    <option value="joint_pain" >Joint Pain</option>
    <option value="knee_pain" >Knee Pain</option>
    <option value="lack_of_concentration" >Lack of Concentration</option>
    <option value="lethargy" >Lethargy</option>
    <option value="loss_of_appetite" >Loss of Appetite</option>
    <option value="loss_of_balance" >Loss of Balance</option>
    <option value="loss_of_smell" >Loss of smell</option>
    <option value="malaise" >Malaise</option>
    <option value="mild_fever" >Mild Fever</option>
    <option value="mood_swings" >Mood Swings</option>
    <option value="movement_stiffness" >Movement Stiffness</option>
    <option value="mucoid_sputum" >Mucoid Sputum</option>
    <option value="muscle_pain" >Muscle Pain</option>
    <option value="muscle_wasting" >Muscle Wasting</option>
    <option value="muscle_weakness" >Muscle Weakness</option>
    <option value="nausea" >nausea</option>
    <option value="neck_pain" >Neck Pain</option>
    <option value="nodal_skin_eruptions" >Nodal Skin Eruptions</option>
    <option value="obesity" >Obesity</option>
    <option value="pain_behind_the_eyes" >Pain Behind the Eyes</option>
    <option value="pain_during_bowel_movements" >Pain During Bowel Movements</option>
    <option value="pain_in_anal_region" >Pain in Anal Region</option>
    <option value="painful_walking" >Painful Walking</option>
    <option value="palpitations" >Palpitations</option>
    <option value="passage_of_gases" >Passage of Gases</option>
    <option value="patches_in_throat" >Patches in Throat</option>
    <option value="phlegm" >Phlegm</option>
    <option value="polyuria" >Polyuria</option>
    <option value="prominent_veins_on_calf" >Prominent Veins on Calf</option>
    <option value="puffy_face_and_eyes" >Puffy Face and Eyes</option>
    <option value="pus_filled_pimples" >Pus Filled Pimples</option>
    <option value="receiving_blood_transfusion" >Receiving Blood Transfusion</option>
    <option value="receiving_unsterile_injections" >Receiving Unsertile Injections</option>
    <option value="red_sore_around_nose" >Red Sore Around Nose</option>
    <option value="red_spots_over_body" >Red Spots Over Body</option>
    <option value="redness_of_eyes" >Redness of Eyes</option>
    <option value="restlessness" >restlessness</option>
    
    <option value="runny_nose" >Runny Nose</option>
    <option value="rusty_sputum" >Rusty Sputum</option>
    <option value="scurring" >Scurring</option>
    <option value="shivering" >Shivering</option>
    <option value="silver_like_dusting" >Silver Like Dusting</option>
    <option value="sinus_pressure" >Sinus Preessure</option>
    <option value="skin_peeling" >Skin Peeling</option>
    <option value="skin_rash" >Skin Rash</option>
    <option value="slurred_speech" >Slurred Speech</option>
    <option value="small_dents_in_nails" >Small Dents In Nails</option>
    <option value="spinning_movements" >Spinning Movements</option>
    <option value="spotting_ urination" >Spotting Urination</option>
    <option value="stiff_neck" >Stiff Neck</option>
    <option value="stomach_bleeding" >Stomach Bleeding</option>
    <option value="stomach_pain" >Stomach Pain</option>
    <option value="sunken_eyes" >Sunken Eyes</option>
    <option value="sweating" >Sweating</option>
    <option value="swelled_lymph_nodes" >Swelled Lymph Nodes</option>
    <option value="swelling_joints" >Swelling Joints</option>
    <option value="swelling_of_stomach" >Swelling of Stomach</option>
    <option value="swollen_blood_vessels" >Swollen Blood Vessels</option>
    <option value="swollen_extremeties" >Swollen Extremeties</option>
    <option value="swollen_legs" >Swollen Legs</option>
    
    <option value="throat_irritation" >Throat Irritation</option>
    <option value="toxic_look_(typhos)" >Toxic Look Typhos</option>
    <option value="ulcers_on_tongue" >Ulcers on Tongue</option>
    <option value="unsteadiness" >Unsteadiness</option>
    <option value="visual_disturbances" >Visual Disturbances</option>
    <option value="vomiting" >Vomiting</option>
    <option value="watering_from_eyes" >Watering from eyes</option>
    <option value="weakness_in_limbs" >Weakness in Limbs</option>
    <option value="weakness_of_one_body_side" >Weakness of one body side</option>
    <option value="weight_gain" >Weight Gain</option>
    <option value="weight_loss" >Weight Loss</option>
    <option value="yellow_crust_ooze" >Yellow Crust ooze</option>
    <option value="yellow_urine" >Yellow Urine</option>
    <option value="yellowing_of_eyes" >Yellowing of Eyes</option>
    <option value="yellowish_skin" >Yellowish Skin</option>
  
</select>
</select>
        <select name="s5" required="required"  style ="width: 20%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; "  >
    <option value="no" >Enter Symptom</option>
    <option value="abdominal_pain" >Abdominal Pain</option>
    <option value="abnormal_menstruation" >Abnormal Menstruation</option>
    <option value="acidity" >Acidity</option>
    <option value="acute_liver_failure" >Acute Liver Failure</option>
    <option value="altered_sensorium" >Altered Sensorium</option>
    <option value="anxiety" >Anxiety</option>
    <option value="back_pain" >Back Pain</option>
    <option value="belly_pain" >Belly Pain</option>
    <option value="blackheads" >BlackHeads</option>
    <option value="bladder_discomfort" >Bladder Discomfort</option>
    <option value="blister" >Blister</option>
    <option value="blood_in_sputum" >Blood In Sputum</option>
    <option value="bloody_stool" >Bloody Stool</option>
    <option value="blurred_and_distorted_vision" >Blurred and Distorted Vision</option>
    <option value="breathlessness" >Brethlessness</option>
    <option value="brittle_nails" >Brittle Nails</option>
    <option value="bruising" >Bruising</option>
    <option value="burning_micturition" >Burning Micturition</option>
    <option value="chest_pain" >Chest Pain</option>
    <option value="chills" >Chills</option>
    <option value="cold_hands_and_feets" >Cold Hands And Feet</option>
    <option value="coma" >Coma</option>
    <option value="congestion" >Congestion</option>
    <option value="constipation" >Constipation</option>
    <option value="continuous_feel_of_urine" >Continuous Feel Of Urine</option>
    <option value="continuous_sneezing" >Continuous Sneezing</option>
    <option value="cough" >Cough</option>
    <option value="cramps" >Cramps</option>
    <option value="dark_urine" >Dark Urine</option>
    <option value="dehydration" >Dehydration</option>
    <option value="depression" >Depresssion</option>
    <option value="diarrhoea" >Diarrhoea</option>
    <option value="dischromic _patches" >Dischromic Patches</option>
    <option value="distention_of_abdomen" >Distension of Abdomen</option>
    <option value="dizziness" >Dizziness</option>
    <option value="drying_and_tingling_lips" >Drying And Tingling Lips</option>
    <option value="enlarged_thyroid" >Enlarged Thyroid</option>
    <option value="excessive_hunger" >Excessive Hunger</option>
    <option value="extra_marital_contacts" >Extra Marital Contacts</option>
    <option value="family_history" >Family History</option>
    <option value="fast_heart_rate" >Fast Heart Rate</option>
    <option value="fatigue" >Fatigue</option>
    <option value="fluid_overload" >Fluid Overload</option>
    <option value="foul_smell_of urine" >Foul Smell Of Urine</option>
    <option value="headache" >Headache</option>
    <option value="high_fever'" >High Fever</option>
    <option value="hip_joint_pain" >Hip Joint Pain</option>
    <option value="history_of_alcohol_consumption" >History of Alcohol consumption</option>
    <option value="increased_appetite" >Increased Appetite</option>
    <option value="indigestion" >Indigestion</option>
    <option value="inflammatory_nails" >Inflammatory Nails</option>
    <option value="internal_itching" >Internal Itching</option>
    <option value="irregular_sugar_level" >Irregular Sugar Level</option>
    <option value="irritability" >Irritability</option>
    <option value="irritation_in_anus" >Irritation in Anus</option>
    <option value="itching" >Itching</option>
    <option value="joint_pain" >Joint Pain</option>
    <option value="knee_pain" >Knee Pain</option>
    <option value="lack_of_concentration" >Lack of Concentration</option>
    <option value="lethargy" >Lethargy</option>
    <option value="loss_of_appetite" >Loss of Appetite</option>
    <option value="loss_of_balance" >Loss of Balance</option>
    <option value="loss_of_smell" >Loss of smell</option>
    <option value="malaise" >Malaise</option>
    <option value="mild_fever" >Mild Fever</option>
    <option value="mood_swings" >Mood Swings</option>
    <option value="movement_stiffness" >Movement Stiffness</option>
    <option value="mucoid_sputum" >Mucoid Sputum</option>
    <option value="muscle_pain" >Muscle Pain</option>
    <option value="muscle_wasting" >Muscle Wasting</option>
    <option value="muscle_weakness" >Muscle Weakness</option>
    <option value="nausea" >nausea</option>
    <option value="neck_pain" >Neck Pain</option>
    <option value="nodal_skin_eruptions" >Nodal Skin Eruptions</option>
    <option value="obesity" >Obesity</option>
    <option value="pain_behind_the_eyes" >Pain Behind the Eyes</option>
    <option value="pain_during_bowel_movements" >Pain During Bowel Movements</option>
    <option value="pain_in_anal_region" >Pain in Anal Region</option>
    <option value="painful_walking" >Painful Walking</option>
    <option value="palpitations" >Palpitations</option>
    <option value="passage_of_gases" >Passage of Gases</option>
    <option value="patches_in_throat" >Patches in Throat</option>
    <option value="phlegm" >Phlegm</option>
    <option value="polyuria" >Polyuria</option>
    <option value="prominent_veins_on_calf" >Prominent Veins on Calf</option>
    <option value="puffy_face_and_eyes" >Puffy Face and Eyes</option>
    <option value="pus_filled_pimples" >Pus Filled Pimples</option>
    <option value="receiving_blood_transfusion" >Receiving Blood Transfusion</option>
    <option value="receiving_unsterile_injections" >Receiving Unsertile Injections</option>
    <option value="red_sore_around_nose" >Red Sore Around Nose</option>
    <option value="red_spots_over_body" >Red Spots Over Body</option>
    <option value="redness_of_eyes" >Redness of Eyes</option>
    <option value="restlessness" >restlessness</option>
    
    <option value="runny_nose" >Runny Nose</option>
    <option value="rusty_sputum" >Rusty Sputum</option>
    <option value="scurring" >Scurring</option>
    <option value="shivering" >Shivering</option>
    <option value="silver_like_dusting" >Silver Like Dusting</option>
    <option value="sinus_pressure" >Sinus Preessure</option>
    <option value="skin_peeling" >Skin Peeling</option>
    <option value="skin_rash" >Skin Rash</option>
    <option value="slurred_speech" >Slurred Speech</option>
    <option value="small_dents_in_nails" >Small Dents In Nails</option>
    <option value="spinning_movements" >Spinning Movements</option>
    <option value="spotting_ urination" >Spotting Urination</option>
    <option value="stiff_neck" >Stiff Neck</option>
    <option value="stomach_bleeding" >Stomach Bleeding</option>
    <option value="stomach_pain" >Stomach Pain</option>
    <option value="sunken_eyes" >Sunken Eyes</option>
    <option value="sweating" >Sweating</option>
    <option value="swelled_lymph_nodes" >Swelled Lymph Nodes</option>
    <option value="swelling_joints" >Swelling Joints</option>
    <option value="swelling_of_stomach" >Swelling of Stomach</option>
    <option value="swollen_blood_vessels" >Swollen Blood Vessels</option>
    <option value="swollen_extremeties" >Swollen Extremeties</option>
    <option value="swollen_legs" >Swollen Legs</option>
    
    <option value="throat_irritation" >Throat Irritation</option>
    <option value="toxic_look_(typhos)" >Toxic Look Typhos</option>
    <option value="ulcers_on_tongue" >Ulcers on Tongue</option>
    <option value="unsteadiness" >Unsteadiness</option>
    <option value="visual_disturbances" >Visual Disturbances</option>
    <option value="vomiting" >Vomiting</option>
    <option value="watering_from_eyes" >Watering from eyes</option>
    <option value="weakness_in_limbs" >Weakness in Limbs</option>
    <option value="weakness_of_one_body_side" >Weakness of one body side</option>
    <option value="weight_gain" >Weight Gain</option>
    <option value="weight_loss" >Weight Loss</option>
    <option value="yellow_crust_ooze" >Yellow Crust ooze</option>
    <option value="yellow_urine" >Yellow Urine</option>
    <option value="yellowing_of_eyes" >Yellowing of Eyes</option>
    <option value="yellowish_skin" >Yellowish Skin</option>
  
</select>
      



    	<br>
        
        <!-- Show button -->
        <div class="button_cont" align="center">
            <button type="submit" class="btn btn-primary btn-block btn-large" style ="width: 25%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; " ><strong>Predict Disease</strong></button></a>
        </div>
        
    </form>
    </center>

   <!-- Show predicted output using ML model --> 
   <div>
       <center>
   <h1>{{ predicted}}</h1>
   <h1> {{medicine}}</h1>
       </center>
   </div>

 </div>



</body>
</html>
